body{
    text-align: center;
    margin: 0;
    padding: 0;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border:10px solid black;
    margin: 1rem;
}
.btn-container{
    display: flex;
    justify-content:center ;
}
.yellow{
    background-color:#f99b45 ;
}
.red{
    background-color:#d95980 ;
}
.green{
    background-color:#019ff9 ;
}
.purple{
    background-color:#8036a2 ;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: green;
}
#startButton {
    background-color: #4caf50; /* Green background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Add some padding for better appearance */
    font-size: 16px; /* Increase font size */
    cursor: pointer; /* Add cursor pointer on hover */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add some border-radius for rounded corners */
    margin-top: 20px; /* Add some top margin for spacing */
}

#startButton:hover {
    background-color: #45a049; /* Darker green color on hover */
}
h1{
    background-color: black;
    color:#fff;
    margin-top: 0;
    padding: 15px;
    font-size: 40px;
}